# .NET
**/bin/
**/obj/

# Angular / Node
**/node_modules/
**/dist/
.angular/

# Local environment
.vscode/
*.user
*.suo

# Build output
**/wwwroot/*
!**/wwwroot/.gitkeep

# Generated production frontend files
KingdomSolutionz.Web/wwwroot/